.columns > div {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 70px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
  border-radius: 20px;
  overflow: hidden;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
    margin-bottom: calc(var(--page-width) * 10 / 100);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > div:not([class]){
  opacity: 0;
  }

  .in-view{
    animation: in-view-animation 0.2s linear;
    animation-fill-mode: forwards;
  }

  @keyframes in-view-animation {
    0% { transform: translate(0, 100px); opacity: 0; 
    }

    100% { transform: translate(0, 0); opacity: 1; 
    }
  }

  .out-view{
    animation: out-view-animation 0.2s linear;
    animation-fill-mode: forwards;
  }

  @keyframes out-view-animation {
    0% { transform: translate(0, 0); opacity: 1; 
    }

    100% { transform: translate(0, 100px); opacity: 0; 
    }
  }
  
}
