/* header and nav layout */
header .nav-wrapper {
  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(6px);
  color: var(--light-color);
  transition: all 0.5s;
  width: 100%;
  height: var(--nav-height);
  z-index: 2;
  position: fixed;
}

.nav-wrapper.nav-scrolled {
  background-color: white;
  backdrop-filter: none;
  color: var(--dark-color);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'brand brand hamburger' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'brand brand hamburger' var(--nav-height)
    'sections sections sections' 1fr
    'tools tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

/* css for creating a new style for the .nav-tools-reducemotion radio button */
header nav .nav-tools-reducemotion {
  appearance: none;
  grid-area: reducemotion;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: rgb(154 215 252);
  border: none;
  cursor: pointer;
  box-shadow: 16px 0 3px 0 rgb(15 41 64 / 80%);
  position: absolute;
  right: 93px;
}

/* css for the .nav-tools-reducemotion radio button when checked */
header nav .nav-tools-reducemotion:checked {
  background-color: rgb(15 41 64 / 100%);
  rotate: 0deg;
  right: 108px;
  width: 16px;
  height: 16px;
  box-shadow: 17px 0 4px -2px rgb(154 215 252 / 80%);
  transition: all 0.3s ease, transform 0.3s ease;
}

/* css for the .nav-tools-reducemotion radio button when not checked */
header nav .nav-tools-reducemotion:not(:checked) {
  background-color: rgb(154 215 252 / 100%);
  rotate: 180deg;
  transition: all 0.3s ease, transform 0.3s ease;
}

header nav p {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin: 0;
}

header nav a:any-link {
  color: currentcolor;
  font-weight: 300;
  font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  margin: 0 0 3px 10px;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 46px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

header nav .nav-hamburger button {
  height: 2px;
  width: 20px;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0%;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  outline: 2px solid var(--background-color);
  outline-offset: 4px;
  transition: all 0.1s linear, transform 0.1s linear;
}

/* when clicked, change the background color and outline color */
header nav[aria-expanded='true'] .nav-hamburger button {
  outline-offset: 10px;
  margin-top: 18px;
  transition: all 0.1s linear, transform 0.1s linear;
}

.nav-wrapper.nav-scrolled #nav > div.nav-hamburger > button {
  background-color: var(--dark-color);
  outline-color: var(--dark-color);
}

/* brand */
header .nav-brand {
  display: flex;
  align-items: center;
  min-width: 230px;
  grid-area: brand;
  flex-basis: 128px;
  line-height: 1;
}

header nav .nav-brand img {
  width: 27px;
  height: auto;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 50%) 0 0 10px;

}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  background-color: var(--light-color);
}

header nav .nav-sections ul > li {
  font-size: var(--body-font-size-s);
  color: black;
  font-weight: 300;
  font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  margin: 0 0 3px 10px;
  padding: 15px;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 700;
  color: black;
  padding: unset;
}

header nav .nav-sections ul > li > ul > li > a {
  font-weight: 500;
  color: black;
}

header nav .nav-sections ul > li > ul > li > a > u {
  text-decoration: none
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  position: relative;
  align-items: center;
  display: none;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    max-width: 1400px;
    padding: 0 24px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
    padding-left: 50px;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: -14px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 32px;
    margin: 0;
    background-color: unset;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    background-color: unset;
    padding: unset;
    color: var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 10px; 
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }

  header nav .nav-tools {
    display: flex;
    visibility: visible;
    gap: 16px;
    align-items: center;
    font-size: var(--body-font-size-m);
    color: currentcolor;
    font-weight: 300;
    font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  }

}


