.hero-container .hero-wrapper {
  max-width: 100%;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  height: 500px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero.block {
  position: relative;
  overflow: visible;
  height: 100vh;
}

.mayan {
  color: transparent;
  position: absolute;
  top: -500px;
  left: 0;
  width: 2500px;
  height: 2500px;
  background-image: url('/icons/mayan.svg');
  background-size: cover;
  transform-origin: center center;
  animation:
    spin-mayan 600s linear infinite;
  animation-play-state: var(--animation-state);
  bottom: 0; /* Start at bottom for crawl */
  opacity: 0.05; /* Slightly transparent for effect */
}

@keyframes spin-mayan{ 
  0% { transform: perspective(500px) rotateY(25deg) rotate(360deg); }
  50% { transform: perspective(500px) rotateY(25deg) rotate(180deg); }
  100% { transform: perspective(500px) rotateY(25deg) rotate(0deg); }
}

.signs {
  color: transparent;
  position: absolute;
  top: -200px;
  left: 0;
  width: 2000px;
  height: 2000px;
  background-image: url('/icons/signs.svg');
  background-size: cover;
  transform-origin: center center;
  animation: spin-signs 180s linear infinite; /* Spinning animation */
  animation-play-state: var(--animation-state);
  bottom: 0; /* Start at bottom for crawl */
  opacity: 0.06;
}

@keyframes spin-signs{
  0% { transform: perspective(500px) rotateY(25deg) rotate(360deg); }
  50% { transform: perspective(500px) rotateY(25deg) rotate(180deg); }
  100% { transform: perspective(500px) rotateY(25deg) rotate(0deg); }
}

.years {
  color: transparent;
  position: absolute;
  top: -100px;
  left: 0;
  width: 1500px;
  height: 1500px;
  background-image: url('/icons/years.svg');
  background-size: cover;
  transform-origin: center center;
  animation: spin-years 120s linear infinite; /* Spinning animation */
  animation-play-state: var(--animation-state);
  bottom: 0; /* Start at bottom for crawl */
  opacity: 0.07;
}

@keyframes spin-years{
  0% { transform: perspective(500px) rotateY(25deg) rotate(360deg); }
  50% { transform: perspective(500px) rotateY(25deg) rotate(180deg); }
  100% { transform: perspective(500px) rotateY(25deg) rotate(0deg); }
}

.days {
  color: transparent;
  position: absolute;
  top: -50px;
  left: 0;
  width: 1200px;
  height: 1200px;
  background-image: url('/icons/days.svg');
  background-size: cover;
  transform-origin: center center;
  animation: spin-days 75s linear infinite; /* Spinning animation */
  animation-play-state: var(--animation-state);
  bottom: 0; /* Start at bottom for crawl */
  opacity: 0.08;
}

@keyframes spin-days{
  0% { transform: perspective(300px) rotateY(25deg) rotate(360deg); }
  50% { transform: perspective(300px) rotateY(25deg) rotate(180deg); }
  100% { transform: perspective(300px) rotateY(25deg) rotate(0deg); }
}

.hrs {
  color: transparent;
  position: absolute;
  top: -10px;
  left: 0;
  width: 1000px;
  height: 1000px;
  background-image: url('/icons/oldclock.svg');
  background-size: cover;
  transform-origin: center center;
  animation: spin-hrs 54s linear infinite; /* Spinning animation */
  animation-play-state: var(--animation-state);
  bottom: 0; /* Start at bottom for crawl */
  opacity: 0.09;
}

@keyframes spin-hrs{
  0% { transform: perspective(300px) rotateY(25deg) rotate(360deg); }
  50% { transform: perspective(300px) rotateY(25deg) rotate(180deg); }
  100% { transform: perspective(300px) rotateY(25deg) rotate(0deg); }
}

.min {
  color: transparent;
  position: absolute;
  top: 100px;
  left: 0;
  width: 800px;
  height: 800px;
  background-image: url('/icons/minutes.svg');
  background-size: cover;
  transform-origin: center center;
  animation: spin-min 36s linear infinite; /* Spinning animation */
  animation-play-state: var(--animation-state);
  bottom: 0; /* Start at bottom for crawl */
  opacity: 0.1;
}

@keyframes spin-min {
  0% { transform: perspective(300px) rotateY(25deg) rotate(360deg); }
  50% { transform: perspective(300px) rotateY(25deg) rotate(180deg); }
  100% { transform: perspective(300px) rotateY(25deg) rotate(0deg); }
}

.ms {
  color: transparent;
  position: absolute;
  top: 200px;
  left: 0;
  width: 700px;
  height: 700px;
  background-image: url('/icons/milisec.svg');
  background-size: cover;
  transform-origin: center center;
  animation: spin-ms 15s linear infinite; /* Spinning animation */
  animation-play-state: var(--animation-state);
  bottom: 0; /* Start at bottom for crawl */
  opacity: 0.1;
}

@keyframes spin-ms {
  0% { transform: perspective(300px) rotateY(25deg) rotate(360deg); }
  50% { transform: perspective(300px) rotateY(25deg) rotate(180deg); }
  100% { transform: perspective(300px) rotateY(25deg) rotate(0deg); }
}

#adobe-experience-manager-65-long-term-support-is-here {
  color: white;
  font-size: 41px;
  font-weight: 200;
  white-space: wrap;
  z-index: 1;
  position: relative;
  padding-top: 32vh;
  padding-left: 15%;
  padding-right: 15%;
}

#get-ready-for {
  color: white;
  font-size: 25px;
  font-weight: 200;
  white-space: nowrap;
  z-index: 1;
  position: relative;
  padding-left: 25%;
}

#get-ready-for::after{
  content: 'Improved Performance';
  animation: new-ani 12s linear infinite;
  animation-fill-mode: forwards;
  color: rgb(42 173 255);
  font-weight: bold;
  font-size: 60px;
}

@keyframes new-ani {
  0% { content: ' Improved Performance'; opacity: 0; padding-left: 100px;
  }
 
  3% { content: ' Improved Performance'; opacity: 1; padding-left: 30px;
  }
  
  9% { content: ' Improved Performance'; opacity: 1; padding-left: 0;
  }

  12.5% { content: ' Improved Performance'; opacity: 0; padding-left: 0;
  }
  
  12.6% { content: ' Improved Security'; opacity: 0; padding-left: 100px;
  }
 
  15% { content: ' Improved Security'; opacity: 1; padding-left: 30px;
  }
  
  22% { content: ' Improved Security'; opacity: 1; padding-left: 0;
  }

  25% { content: ' Improved Security'; opacity: 0; padding-left: 0;
  }
  
  26% { content: ' Java 21'; opacity: 0; padding-left: 100px;
  }
 
  28% { content: ' Java 21'; opacity: 1; padding-left: 30px;
  }
  
  35% { content: ' Java 21'; opacity: 1; padding-left: 0;
  }

  37.5% { content: ' Java 21'; opacity: 0; padding-left: 0;
  }
  
  37.8% { content: ' Upgraded Frameworks'; opacity: 0; padding-left: 100px;
  }
 
  40% { content: ' Upgraded Frameworks'; opacity: 1; padding-left: 30px;
  }
  
  47% { content: ' Upgraded Frameworks'; opacity: 1; padding-left: 0;
  }

  50% { content: ' Upgraded Frameworks'; opacity: 0; padding-left: 0;
  }
  
  51% { content: ' Innovation'; opacity: 0; padding-left: 100px;
  }
 
  54% { content: ' Innovation'; opacity: 1; padding-left: 30px;
  }
  
  59% { content: ' Innovation'; opacity: 1; padding-left: 0;
  }

  62.5% { content: ' Innovation'; opacity: 0; padding-left: 0;
  }
  
  62.6% { content: ' Modernization'; opacity: 0; padding-left: 100px;
  }
 
  65% { content: ' Modernization'; opacity: 1; padding-left: 30px;
  }
  
  72% { content: ' Modernization'; opacity: 1; padding-left: 0;
  }

  75% { content: ' Modernization'; opacity: 0; padding-left: 0;
  }
  
  76% { content: ' Future Proofing'; opacity: 0; padding-left: 100px;
  }
 
  79% { content: ' Future Proofing'; opacity: 1; padding-left: 30px;
  }
  
  84% { content: ' Future Proofing'; opacity: 1; padding-left: 0;
  }

  87.5% { content: ' Future Proofing'; opacity: 0; padding-left: 0;
  }
  
  87.6% { content: ' Long Term Support'; opacity: 0; padding-left: 100px;
  }
 
  90% { content: ' Long Term Support'; opacity: 1; padding-left: 30px;
  }
  
  97% { content: ' Long Term Support'; opacity: 1; padding-left: 0;
  }

  100% { content: ' Long Term Support'; opacity: 0; padding-left: 0;
  }
}

.hero.block > div > div > h3 {
  color: rgb(255 255 255);
  font-size: 25px;
  font-weight: 200;
  z-index: 1;
  position: relative;
  padding-left: 25%;
  padding-right: 15%;
}

@keyframes fade-in-out-6 {
  0% { left: 20%; opacity: 1; 
  }

  10% { left: 20%; opacity: 1; 
  }

  100% { left: 20%; opacity: 1; 
  }
}



@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}
